* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1340px;
  margin: 0 auto;
}
:root {
  --font-family: "Poppins", serif;
  --background-color: #071b27;
}

.subtaitle {
  color: #289bde;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.taitle {
  color: #071b27;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: normal;
  text-align: center;
}

/* navber css starts here */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 13px 0;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_manu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav_manu ul .nav_manu_item a {
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: all linear 0.3s;
}
.nav_manu ul .nav_manu_item a:hover {
  color: chartreuse;
}
.nav_manu ul .nav_manu_item a::before {
  width: 0px;
  height: 5px;
  content: "";
  background-color: rgb(243, 197, 197);
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: all linear 0.3s;
}
.nav_manu ul .nav_manu_item a:hover::before {
  width: 100%;
}
.nav_btn {
  width: 20%;
  display: flex;
  gap: 18px;
  justify-content: end;
}
.nav_btn a {
  display: inline-block;
  font-family: var(--font-family);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 9px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none;
  transition: all linear 0.5s;
}
.nav_btn a:hover {
  background-color: #289bde;
  border: 1px solid #289bde;
}
/* navber css ends here */
/* ====bnner css starts here===== */
#bnner {
  padding: 277px 0 350px 0;
  background-color: var(--background-color);
}
.bnner_wrapper h4 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.bnner_wrapper h1 {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  width: 1117px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.bnner_btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.bnner_btn a {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all linear.3s;
}
.bnner_btn a:hover {
  background-color: #289bde;
  border: 1px solid #289bde;
}
.bnner_emogi {
  display: flex;
  justify-content: space-between;
}
.bnner_emogi {
  position: relative;
}
.bnner_emogi .bnner_left_emogi {
  position: absolute;
  width: 355px;
  top: -315px;
  left: -200px;
}
.bnner_emogi .bnner_right_emogi {
  position: absolute;
  width: 355px;
  top: -315px;
  right: -180px;
}
/* =====bnner css ends here===== */
/* ======card part css starts here===== */
.card_part {
  margin: 0 auto;
}
.card_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 0 32px;
  margin-top: -188px;
}
.card_one {
  width: 343px;
  height: 432px;
  background-color: blue;
  border-radius: 12px;
  overflow: hidden;
}
.card_one .card_one_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_two {
  width: 416px;
  position: relative;
}
.card_two_sub1 {
  width: 234px;
  height: 281px;
  background-color: rgb(25, 62, 10);
  margin-top: 50px;
  border-radius: 12px;
  overflow: hidden;
}
.card_two_sub1 .card_one_sub_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_two_sub2 {
  width: 299px;
  height: 140px;
  position: absolute;
  top: -19px;
  left: 117px;
  border-radius: 12px;
  overflow: hidden;
}
.card_two_sub2 .card_sub2_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_three {
  width: 445px;
  height: 385px;
  border-radius: 12px;
  margin-top: 70px;
  overflow: hidden;
}
.card_three .card_three_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ======card part css ends here===== */
/* =====about css starts here==== */
#about {
  margin: 150px 0;
}
.about_header {
  margin-bottom: 60px;
}
.about_header .about_header_pera {
  color: #666;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  max-width: 613px;
  margin: 0 auto;
}
.about_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin: 0 7px;
}
.about_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_items:nth-child(even) {
  flex-direction: row-reverse;
}
.about_items_content h3 {
  color: #07003b;
  font-family: var(--font-family);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.about_items_content p {
  color: #666;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 41px;
  width: 717px;
  height: 164px;
}
.about_items_content p span {
  color: #289bde;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  width: 717px;
  height: 164px;
}
.about_items_img {
  width: 454px;
  height: 485px;
  border-radius: 5px;
  overflow: hidden;
}
.bout_items_img .about_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =====about css ends here==== */
/* =====Services css starts here==== */
#Services {
  background-color: #071b27;
  padding-bottom: 160px;
  margin-bottom: 150px;
}
.serv_hea {
  padding: 160px 0 60px 0;
}
.serv_hea .subtaitle {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.serv_hea .taitle {
  color: #fff;
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
.services_box {
  display: flex;
  gap: 40px;
}
.serv_box1 {
  width: 645px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #fff;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 50px;
}
.serv_box_content {
  padding: 40px;
}
.serv_box_content_img {
  max-width: 565px;
  max-height: 450px;
  overflow: hidden;
}
.serv_box_content_img .servicesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serv_box_content_text_head h2 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  padding-top: 45px;
  margin-bottom: 24px;
}
.serv_box_content_text_pera {
  display: flex;
  gap: 17px;
}
.serv_box_content_text_pera p {
  color: #e6e6e6;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.serv_box_content_text_pera p span {
  color: #289bde;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.serv_box2 {
  width: 645px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #fff;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 50px;
}
/* =====Services css ends here==== */
/* =====mission css starts here==== */
#mission {
  margin: 140px 0;
}
.mission_wrapper {
  display: flex;
  justify-content: space-between;
}
.mission_content .mission_header {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  max-width: 450px;
  margin-bottom: 55px;
}
.mission_content_text {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.mis_con_hed {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 12px;
}
.mission_content_text .mis_con_hed span svg {
  width: 16px;
  height: 19px;
  border-radius: 50%;
  background-color: #008eff;
  padding: 14px 16px;
  color: #fff;
}
.mission_content_text .mis_con_hed h3 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}
.mission_content_text p {
  color: #666;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.16px;
  max-width: 470px;
  margin-left: 65px;
}
.mission_image {
  width: 660px;
  height: 530px;
  overflow: hidden;
  margin-top: 100px;
}
.mission_image .mission_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =====mission css ends here==== */
/* =====our css starts here==== */
#our {
  margin-bottom: 145px;
}
.our_header .our_prea {
  font-family: var(--font-family);
  color: #666;
  font-size: 20px;
  font-weight: 400;
  width: 628px;
  line-height: normal;
  letter-spacing: 0.2px;
  margin: 0 auto;
}
.our_wrapper {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.our_box {
  width: 430px;
  height: 250px;
  border-radius: 5px;
  border: 1px solid rgba(102, 102, 102, 0.4);
  background-color: #fff;
}
.our_box_header {
  padding-top: 17px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.our_box_header_img {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  overflow: hidden;
}
.our_box_header_img .box_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our_box_header_heading h3 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.our_heading_star {
  display: flex;
  gap: 5px;
}
.our_box_header_heading .our_heading_star {
  width: 18px;
  height: 18px;
  color: #ffb906;
}
.our_box_content p {
  color: #666;
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 377px;
  margin: 0 auto;
  padding-top: 10px;
}
/* =====mobile css starts here==== */
.mobile_header {
  margin-bottom: 60px;
}
.mobile_header .mobile_prea {
  color: #666;
  width: 622px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0 auto;
}
.mobile_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_content_left h3 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  text-decoration-line: underline;
  margin-bottom: 37px;
}
.mobile_content_left h3 svg {
  width: 25px;
  height: 25px;
  margin-left: 6px;
}
.mobile_content_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mobile_content_left h4 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.mobile_content_left h4 span input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.mobile_content_left p {
  color: #666;
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  width: 405px;
  margin-left: 33px;
}
.mobile_content_middel img {
  width: 294px;
  height: 574px;
}

.mobile_content_right h3 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  text-decoration-line: underline;
  margin-bottom: 37px;
}

.mobile_content_right h3 svg {
  width: 25px;
  height: 25px;
  margin-left: 6px;
}
.mobile_content_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mobile_content_right h4 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.mobile_content_right h4 span input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.mobile_content_right p {
  color: #666;
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  width: 405px;
  margin-left: 33px;
}
.mobile_part_button a {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 13px 28px;
  border-radius: 5px;
  background: #289bde;
  margin-top: 60px;
}
.mobile_part_button{
  display: flex;
  justify-content: center;
} 
/* =====mobile css ends here==== */

/* =====our css ends here==== */
/* =====golobal css starts here==== */
#golobal {
  margin-top: 140px;
  margin-bottom: 140px;
}
.golobal_header .golobal_prea {
  font-family: var(--font-family);
  color: #666;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  width: 622px;
  margin: 0 auto;
}
.golobal_content {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  align-items: center;
}
.golobal_left {
  display: inline-block;
  align-items: center;
}
.golobal_left h3 {
  width: 380px;
  color: #12141d;
  font-family: var(--font-family);
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 22px;
}
.golobal_left p {
  font-family: var(--font-family);
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 445px;
  margin-bottom: 29px;
}
.golobal_span {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 20px;
}
.golobal_span span svg {
  width: 20px;
  height: 15px;
  color: rgb(84, 56, 56);
}
.golobal_span span {
  color: var(--Black, #12141d);
  font-family: var(--Black);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.golobal_span span svg {
  margin-right: 9px;
}
.golobal_right {
  width: 498px;
  height: 692px;
}
.golobal_right_header {
  width: 376px;
  color: #12141d;
  text-align: center;
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 22px;
}
.golobal_right .golobal_right_item {
  padding: 36px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
}
.golobal_right_item label {
  color: #12141d;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}
.golobal_right_item input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dde1e0;
  background: #fff;
  margin-bottom: 17px;
}
.golobal_right_item button {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  border-radius: 10px;
  background: #289bde;
  height: 60px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}
.golobal_right_item button svg {
  margin-left: 10px;
  width: 18px;
  height: 18px;
}

/* =====golobal css ends here==== */
/* =====footer css starts here==== */
footer {
  background: url(../images/footer\ bg.png);
  background-size: cover;
  padding: 70px 0;
}
.footer_box {
  width: 851px;
  height: 444px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  padding: 71px 0;
}
.footer_box h3 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}
.footer_box h4 {
  color: #071b27;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.footer_box p {
  color: #666;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 27px;
}
.footer_box span {
  color: #666;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-left: 26px;
}
.footer_box span svg{
  width: 24px;
  height: 24px;
  color: rgb(179, 0, 255);
  margin-right: 10px;
}
.footer_box a {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  background: #289bde;
  padding: 13px 28px;
  display: inline-block;
  margin-top: 41px;
}
.footer_line {
  height: 96px;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 68px;
}
.footer_line .line_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}
.line_content .footer_term {
  display: flex;
  gap: 17px;
  align-items: center;
}
.line_content .footer_term li {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.footer_svg {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.footer_svg .footer_linkdin {
  width: 31px;
  height: 31px;
}
.footer_svg .footer_twitter {
  width: 53px;
  height: 39px;
}
.footer_svg .footer_facbook {
  width: 53px;
  height: 53px;
}
.copyright p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 27px;
  display: flex;
  justify-content: center;
}
