* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1340px;
  margin: 0 auto;
}
:root {
  --font-family: "Poppins", serif;
  --background-color: #071b27;
}

.subtaitle {
  color: #289bde;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.taitle {
  color: #071b27;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: normal;
  text-align: center;
}

/* navber css starts here */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 13px 0;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_manu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav_manu ul .nav_manu_item a {
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: all linear 0.3s;
}
.nav_manu ul .nav_manu_item a:hover {
  color: chartreuse;
}
.nav_manu ul .nav_manu_item a::before {
  width: 0px;
  height: 5px;
  content: "";
  background-color: rgb(243, 197, 197);
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: all linear 0.3s;
}
.nav_manu ul .nav_manu_item a:hover::before {
  width: 100%;
}
.nav_btn {
  width: 20%;
  display: flex;
  gap: 18px;
  justify-content: end;
}
.nav_btn a {
  display: inline-block;
  font-family: var(--font-family);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 9px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none;
  transition: all linear 0.5s;
}
.nav_btn a:hover {
  background-color: #289bde;
  border: 1px solid #289bde;
}
/* navber css ends here */
