* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1340px;
  margin: 0 auto;
}
:root {
  --font-family: "Poppins", serif;
  --background-color: #071b27;
}

.subtaitle {
  color: #289bde;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.taitle {
  color: #071b27;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: normal;
  text-align: center;
}

